@tailwind base;
@tailwind components;
@tailwind utilities;



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0 auto;
  max-width: 1200px; 
  width: 90%; 
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@media (max-width: 768px) {
  body {
    width: 95%;
  }
}
@media (max-width: 480px) {
  body {
    width: 100%; 
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
